# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bin/
/test_bin/

# CMake intermediate files
Makefile
CMakeFiles/
CMakeCache.txt
Testing/
install_manifest.txt
*.cmake

# Eclipse directories
/Debug/
/Release/
/DebugTest/
/ReleaseTest/

# IDEA directories
.idea

# Test resources
*.mp4
*.h264
*.avi